:root{
    --backgrond:#291e40;
    --color1: #2a8c8c;
    --color2: #38a692;
    --colorw: #ffffff;
    --colorb: #000000;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--backgrond);
}

.container{
    max-width: 1200px;
    margin: auto;
}

.container1{
    max-width: 1000px;
    margin: auto;
}

.container5{
    max-width: 500px;
    margin: auto;
}

.center{
    margin: auto;
    text-align: center;
}

header{
    padding: 10px 0px;
}

header span{
    font-size: 30px;
    color: var(--color1);
    font-weight: bolder;
}

section{
    padding: 50px 10px;
}

section div.img{
    background-image: url(img/2bc5c3577626860abd491992e4cbe690.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
}

section div.sobre{
    padding: 20px 10px;
}

section div.sobre p{
    text-align: justify;
    font-size: 18px;
    text-indent: 2em;
    color: var(--color1);
    line-height: 26px;
}

section div.sobre span{
    font-size: 30px;
    color: var(--colorw);
    font-weight: bolder;
}

footer div span{
    font-size: 18px;
    color: var(--color2);
}